In [ ]:
"""
You have a positive number n consisting of digits. You can do at most one operation: Choosing the index of a digit in the number, remove this digit at that index and insert it back to another or at the same place in the number in order to find the smallest number you can get.

Task:
Return an array or a tuple or a string depending on the language (see "Sample Tests") with

the smallest number you got
the index i of the digit d you took, i as small as possible
the index j (as small as possible) where you insert this digit d to have the smallest number.
Examples:
smallest(261235) --> [126235, 2, 0] or (126235, 2, 0) or "126235, 2, 0"
126235 is the smallest number gotten by taking 1 at index 2 and putting it at index 0

smallest(209917) --> [29917, 0, 1] or ...

[29917, 1, 0] could be a solution too but index `i` in [29917, 1, 0] is greater than 
index `i` in [29917, 0, 1].
29917 is the smallest number gotten by taking 2 at index 0 and putting it at index 1 which gave 029917 which is the number 29917.

smallest(1000000) --> [1, 0, 6] or ...
Note
Have a look at "Sample Tests" to see the input and output in each language
"""

In [48]:
num = "6012035"
min_sub_d = 10
min_idx = 10000

for i, d in enumerate(num):
  min_d = num[i]
  sub_num = num[i+1:]
  
  for sub_d in sub_num:
    if int(sub_d) < int(min_d):
      if int(sub_d) < int(min_sub_d):
        min_sub_d = sub_d
        if i < min_idx:
          min_idx = i

#num[:0]
print(min_sub_d, min_idx)

result = num[:min_idx] + str(min_sub_d)+ num[min_idx:].replace(str(min_sub_d),"",1)

print(result)

0 0
0612035