In [ ]:
"""
We search non-negative integer numbers, with at most 3 digits, such as the sum of the cubes of their digits is the number itself; we will call them "cubic" numbers.

153 is such a "cubic" number : 1^3 + 5^3 + 3^3 = 153
These "cubic" numbers of at most 3 digits are easy to find, even by hand, so they are "hidden" with other numbers and characters in a string.

The task is to find, or not, the "cubic" numbers in the string and then to make the sum of these "cubic" numbers found in the string, if any, and to return a string such as:

"number1 number2 (and so on if necessary) sumOfCubicNumbers Lucky" 
if "cubic" numbers number1, number2, ... were found.

The numbers in the output are to be in the order in which they are encountered in the input string.

If no cubic numbers are found return the string: `"Unlucky"``.

Examples:
 - s = "aqdf&0#1xyz!22[153(777.777" 
   the groups of at most 3 digits are 0 and 1 (one digit), 22 (two digits), 153, 777, 777 (3 digits)
   Only 0, 1, 153 are cubic and their sum is 154
   Return: "0 1 153 154 Lucky"

- s = "QK29a45[&erui9026315"
  the groups are 29, 45, 902, 631, 5. None is cubic.
  Return: "Unlucky"
Notes
In the string "001234" where 3 digits or more follow each other the first group to examine is "001" and the following is "234". If a packet of at most three digits has been taken, whether or not "cubic", it's over for that packet.

When a continuous string of digits exceeds 3, the string is split into groups of 3 from the left. The last grouping could have 3, 2 or 1 digits.

e.g "24172410" becomes 3 strings comprising "241", "724" and "10"

e.g "0785" becomes 2 strings comprising "078" and "5".
"""

In [13]:
a = 153
a_sum = 0
for n in str(a):
  a_sum += int(n)**3
a_sum

153

One step (num_array construction)

In [1]:
s = "aqdf&0#1xyz!22[153(77734331.777"
num_array = []
num = ""
for i, c in enumerate(s):
  if c in "1234567890":
    num += c
    if len(num) == 3:
      num_array.append(num)
      num = ""
  else:
    if num != "":
      num_array.append(num)
    num = ""
  if i == len(s) - 1 and num != "":
    num_array.append(num)

num_array

['0', '1', '22', '153', '777', '343', '31', '777']

In [5]:
result = []
result_txt = ""
for n in num_array:
  n_sum = 0
  for c in n:
    n_sum += int(c)**3
  if n_sum == int(n):
    result.append(n)

if len(result) == 0:
  result_txt = "Unlucky"
else:
  total_sum = 0
  for i, n in enumerate(result):
    total_sum += int(n)
    result_txt += n + " "
    if i == len(result) - 1:
      result_txt += str(total_sum) + " Lucky"

result_txt

'0 1 153 154 Lucky'

Two steps (num_array construction)

In [15]:
s = "aqdf&0#1xyz!22[153(77734331.777"
num_array = []
num = ""
for i, c in enumerate(s):
  if c in "1234567890":
    num += c
  else:
    if num != "":
      num_array.append(num)
    num = ""
  if i == len(s) - 1 and num != "":
    num_array.append(num)

num_array

['0', '1', '22', '153', '77734331', '777']

In [16]:
for idx, n in enumerate(num_array):
  to_add = ""
  if len(n) > 3:
    del num_array[idx]
    idx_counter = 0
    for i, c in enumerate(n):
      to_add += c
      if len(to_add) == 3:
        num_array.insert(idx + idx_counter, to_add)
        to_add = ""
        idx_counter += 1
      if i == len(n) - 1 and len(to_add) > 0 and len(to_add) < 3:
        num_array.insert(idx + idx_counter, to_add)

num_array

['0', '1', '22', '153', '777', '343', '31', '777']