In [ ]:
"""
Intro:
I was doing a coding challenge. It was one of those multi-step challenges. I don't know if my approach was good or bad, but in one of these steps I was writing a function to convert word to numbers. I did it.. eventually, but... I didn't like how it was written. So I thought why not create kata and check how other people do it :) So:

Task:
Your task is to write the word to number converter. Digits in the number should match letters in the word. Plus generated number should be the smallest possible number you can get.

Words will contain of maximum 10 distinct letters, but word can be any length, even longer than 10 characters long.
Number can NOT start with 0
Same letters share the same digit regardless of case
For empty string return 0
Examples:
"A" -> 1 - OK

"ABA" -> 353 - WRONG ( number is OK, but it's not the smallest number )

"ABA" -> 333 - WRONG ( different letters map to same digits )

"ABA" -> 357 - WRONG ( same letters map to different digits )
"""

In [ ]:
def convert(st):
    result = ""
    ldict = {}
    nums = [1,0,2,3,4,5,6,7,8,9]
    i = 0
    for l in st.lower():
        if l not in ldict:
            ldict[l] = nums[i]
            i += 1
    for l in st.lower():
        result += str(ldict[l])
    if result == "":
        return 0
    return int(result)

In [20]:
t = "CodeWars"
result = ""
ldict = {}
nums = [1,0,2,3,4,5,6,7,8,9]
i = 0
for l in t.lower():
  if l not in ldict:
    ldict[l] = nums[i]
    i += 1

for l in t.lower():
  result += str(ldict[l])

result

'10234567'

In [8]:
ldict = {"e":3}

"f" in ldict.keys()

False

In [ ]:
10234421553674180718
10234421553674189718